@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/montserrat-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/montserrat-v30-latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/montserrat-v30-latin-700.woff2") format("woff2");
}


/* Variables globales */
:root {
  --primary-gradient: linear-gradient(135deg, #1e3c72, #2a5298);
  --text-color: #fff;
  --highlight-color: #ffc107;
  --font-family: "Montserrat", sans-serif;
  --max-width: 600px;
  --padding: 20px;
}

/* Styles de base */
body {
  margin: 0;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: var(--primary-gradient);
  color: var(--text-color);
  text-align: center;
}

/* Logo */
.logo {
  width: 350px;
  max-width: 80vw;
  height: auto;
  margin-bottom: 20px;
}

/* Conteneur principal */
.container {
  max-width: var(--max-width);
  padding: var(--padding);
  box-sizing: border-box;
}

/* Titres et textes */
h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.description,
.info {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.email {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--highlight-color);
  word-break: break-word;
}

footer {
  position: absolute;
  bottom: 20px;
  font-size: 0.9rem;
  opacity: 0.8;
  text-align: center;
}

/* Responsivité */
@media (max-width: 600px) {
  .logo {
    width: 300px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.2rem;
  }
}
